### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store!/src/kr/co/mz/tutorial/httpserver/trashcan/

!/src/kr/co/mz/tutorial/httpserver/HeaderSlicer.java

!/src/kr/co/mz/tutorial/httpserver/NotHTMLFileException.java

!/src/kr/co/mz/tutorial/httpserver/ResponseMaker.java

!/src/kr/co/mz/tutorial/httpserver/SingleThreadServerSocketManager.java

!/src/kr/co/mz/tutorial/httpserver/STHTTPServerMain.java
